body {
    margin: auto;
    font-family: "apercu",sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.footer-page li {
    display: inline;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
  
}
  
.footer-page li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
  
.copyright{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.circle {
    justify-content: center;
}

.avatar{
    justify-content: center;
}
