{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container" style="background-color: rgb(15, 8, 15); color:rgb(124, 172, 214);"><br><br>
    <div class="row sign-up">
        <div class="col-md-4"></div>
        <div class="col-md-4 bg-secondary">
            {% if form.errors %}
            <p class="small">Password or Username is incorrect</p>
            {% endif %}
            <div class="section">
                <img src="/static/images/trophy.jpg" alt="" width="150" height="200">
                <div class="form-section">
                    <form action="/accounts/login/" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Login">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
            <div class="section">
                <p>Don't have an account? <a href="{% url 'register' %}">Register Here</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}